

.icon{
  max-height: 50px;
  border-radius: 50%;
  
}

.wave{
  color: #305da5;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif
  
}
.spa{
  font-size: 30px;
  margin-bottom: 40px;
  font-family: cursive;
  color: #305da5;
}

#button{
  background:  #4f3263;

  color: white;
  border-radius: 10%;
  font-size: 1.5rem;
}

.about{
  color: '#30273d';
  font-size: '40px';
  font-style: bold;
 
  
}



.navbar{
  position: static;
 font-size: 1.5rem;
 padding-right: 30px;
 padding-left: 30px
}



.containerAbout{
  text-align: center;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
  padding-top: 20px;
  

}
h2{
  padding: 15px
}
h4{
  padding: 20px
}

.climp{
  height: 50px;
}



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}


.TRANS {  

  animation: 1s ease-out 0s 1 slideInFromLeft;
  
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

  
.trans2 {  
  
  animation: 1s ease-out 0s 1 slideInFromRight;
  
}

.opacity{
  opacity: 1;
  color: #123c69;
}

.List li{
  list-style: none;
   color: #123c69;
   font-family: 'Dosis', sans-serif;
   
}
ul li{
   list-style: none;
   width: fit-content;
   padding: 0rem .5rem;
}

#log {
  background-color: #ffffff0f;
  border-radius: 8%;
}
.animated {
 padding-top: 20px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
     opacity: 0;
     -webkit-transform: translateY(0);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(-20px);
  }
}

@keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translateY(0);
  }
  100% {
     opacity: 1;
     transform: translateY(-20px);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.history{
  background-color: #f5f1ff;
  padding: 10px;

}



.fixed-bottom{
  left: auto;
 margin-right: 20px;
  margin-bottom: 20px;
 
}

.developer{
  font-family: cursive;
    font-style: oblique;
    font-size: large;
    color: #30273d;
}
.svg-inline--fa{
   font-size: 20px
}



.col-md-6  {
  min-height: 500px;
  padding-top: 40px;
 
}

.col{
  min-height: 500px;
  padding-top: 2rem;
  padding-left: 40px 
}

.card-body {
 padding: 0rem;
 padding-top: 2rem;
 margin: 5px
 
}

.form {
 margin-top: 30%
}

.form2 {
  margin-top: 30%
 }

 .form-group {
   margin-bottom: 0rem; 
}

 #chat{
  padding: 1.5rem 1.2rem;
  border-radius: 20%;
  margin-right: 50px;
  background-color: #30273d;
  color: white

 }

 #card {
   margin-bottom: 110px;
   margin-right: 40px;
   border-radius: 5%;
   min-height: 45%;
   max-width: 350px;
   background: rgba(250, 249, 255, 0.88);
  
 }

 .border2, .border1{
  max-height: 300px;
  min-height: 300px;
  min-width:  235px;
  max-width: 235px;
  border-radius: 3%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #fcfdff
 }
 

.border2::-webkit-scrollbar, .border1::-webkit-scrollbar {
  width: 0.5em;

}

.border2::-webkit-scrollbar-thumb , .border1::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;

}
 .border2:hover , .border1:hover{
    overflow-y: scroll
 }


 .card-title {
  margin-bottom: .3rem;
  
}

.card .card-body .card-text {
  color: rgb(50, 48, 122);
}

.members, .moderators{
  color: #32307a;
 
  
}

.members{
  font-size: 1.5rem;
  font-weight: 300;
}



.form-control{
  width: 90%;
  padding: 0rem;
  margin-bottom: 0rem;

}


.names :hover{
  color: #85a9b3
}

.scroll{
  overflow-y: scroll;
}

.arrow{
  font-size: 40px;
  color: rgb(55, 27, 80)
}
.chattext{
  float: right;
  margin-right: 40%;
  color: rgb(55, 27, 80)
}

.iconButton{
  border-style: none;
  background: none
}

.card{
  border-bottom-left-radius: 8%;
  border-top-right-radius:   8%;
  
}

.chatAlert {
  padding: .4rem 0.8rem;
  background-color: transparent;
  border-color: transparent;
  color: #de1717;
}

#msg{
   float: left;
   width: 76%
}

#send{
  float: right;
  margin: 0;
  padding: .5rem 0.7rem;
  font-size: 0.8rem;

}